<ol class="valuate-info list-unstyled">
  <li class="valuate-info-list-item">
    <span class="text">Responded to need <a href="#">“Volunteer opportunity”</a></span>
  </li>
  <li class="valuate-info-list-item">
    <span class="text">Added an interest “Volunteer Activities dded an interest “Volunteer Activities” dded an interest “Volunteer Activities dded an interest “Volunteer Activitiesdded an interest “Volunteer Activities dded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activities dded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activitiesdded an interest “Volunteer Activities</span>
  </li>
  <li class="valuate-info-list-item">
    <div class="valuate-info-header">
      <!--        <ng-content select="car-details-header-content"></ng-content>-->
      <h2>1. الحالة الخارجية (البودي)</h2>
    </div>
    <div class="valuate-info-body">
      <!--        <ng-content select="car-details-body-content"></ng-content>-->
      <app-valuate-car-info-box></app-valuate-car-info-box>
    </div>
  </li>
</ol>
