<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="d-flex justify-content-between align-items-center cmb-24 cpx-4">
        <h2 class="font-size-24 fw-bold">تقدير سعر بريميوم</h2>
        <span class="d-flex align-items-center gap-4">
          <span>خروج</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M4.61706 16C4.45899 16 4.30092 15.9399 4.18082 15.8189C3.93973 15.5778 3.93973 15.1869 4.18082 14.9458L14.9458 4.18082C15.1869 3.93973 15.5778 3.93973 15.8189 4.18082C16.06 4.42192 16.06 4.8128 15.8189 5.05405L5.05405 15.8189C4.93305 15.9391 4.77498 16 4.61706 16Z"
              fill="#171D35"/>
            <path
              d="M15.3828 16C15.2247 16 15.0668 15.9399 14.9466 15.8189L4.18082 5.05405C3.93973 4.8128 3.93973 4.42192 4.18082 4.18082C4.42192 3.93973 4.8128 3.93973 5.05405 4.18082L15.8189 14.9458C16.06 15.1869 16.06 15.5778 15.8189 15.8189C15.6979 15.9391 15.54 16 15.3828 16Z"
              fill="#171D35"/>
          </svg>
        </span>
      </div>
      <div class="stepper-progress-wrapper cmb-48">
        <app-stepper-progress></app-stepper-progress>
      </div>
      <app-stepper #stepper>
        <app-step
          [expanded]="stepper.step === 0">
          <h3 class="fw-bold font-size-18 position-relative step-title">معلومات السيارة</h3>
          <app-timeline-v2></app-timeline-v2>


                    <button class="btn btn-primary" type="text" (click)="stepper.nextStep()">Next</button>

        </app-step>
        <app-step
          [expanded]="stepper.step === 1">

          <p>And works with dynamic animation...</p>

          <button class="btn btn-primary" type="text" (click)="stepper.prevStep()">Previous</button>

          <button class="btn btn-primary" type="text" (click)="stepper.nextStep()">Next</button>

        </app-step>
        <app-step
          [expanded]="stepper.step === 2">

          <p>...but not angular animation</p>

          <button class="btn btn-primary" type="text" (click)="stepper.prevStep()">Previous</button>
          <button class="btn btn-primary" type="text" (click)="stepper.setStep(0)">Finish</button>

        </app-step>
      </app-stepper>
    </div>
    <div class="col-4">
      Image
    </div>
  </div>
</div>
